name: golang-tests
run-name: tests 
on:
    push:
        branches:
          - main
          - test
    pull_request:
permissions:
    contents: read
jobs:
    tests:
      name: tests
      runs-on: ubuntu-lates
      steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-go@v6
          with:
            go-version: '1.25'
        - run: nohup go run ./cmd/main.go
        - run: sleep 2
        - run: go test ./internal/http-server/handlers/redirect ./internal/http-server/handlers/url/save ./tests -v