name: golang-tests
run-name: tests 
on:
    push:
        branches:
          - main
          - test
    pull_request:
permissions:
    contents: read
jobs:
    tests:
      name: tests
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-go@v6
          with:
            go-version: '1.25'
        - run: CONFIG_PATH=./config/prod.yaml nohup go run ./cmd/url-shortener/main.go &
        - run: curl -v localhost:8082 
        - run: sleep 2
        - run: go test ./internal/http-server/handlers/redirect ./internal/http-server/handlers/url/save ./tests -v
